In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
 
from matplotlib import pyplot as plt
 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [30]:
data = pd.read_csv('data/final_data.csv', delimiter=';')
data.head(5)

   Unnamed: 0                             address  ...  zipcode        zpid
0           2  Address: 1160 Mission Street #2007  ...  94103.0  83152781.0
1           5       Address: 260 King Street #475  ...  94107.0  69819817.0
2           7     Address: 560 Missouri Street #B  ...  94107.0  64972847.0
3           9        Address: 350 Missouri Street  ...  94107.0  15149489.0
4          11         Address: 3658 Folsom Street  ...  94110.0  15161978.0

[5 rows x 18 columns]

In [10]:
data.shape

(11330, 18)

Будем использовать линейную регрессию для тестирования качества данных

In [11]:
def get_score(X,y, random_seed=42, model=None):
  if model is None:
    model = LinearRegression()
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=random_seed )  
  model.fit(X_train, y_train)
  return model.score(X_test, y_test)

Для поиска выбросов будем использовать boxplot

In [12]:
def get_boxplot(X, columns=[]):
  for i in columns:
    sns.boxplot(x=X[i])
  pass  

def get_pairplot(X, columns=None):
  if columns is None:
    columns = list(X.columns)
  sns.pairplot(X[columns])
  pass

Для заполнения пропущенных значений будем использовать стандартные способы
- заполнение значением
- max
- min
- mode
- median
- mean
- метод индикатора
- линейная регрессия

In [13]:
def get_value(X, column, mode='mean', value=0, columns_for_reg=None):
  if mode == 'value':
    X.loc[X[X[column].isna()].index ,column] = value
  elif mode == 'max':
    X.loc[X[X[column].isna()].index ,column] = X[column].max()
  elif mode == 'min':
    X.loc[X[X[column].isna()].index ,column] = X[column].min()
  elif mode == 'median':
    X.loc[X[X[column].isna()].index ,column] = X[column].median()    
  elif mode == 'mode':
    X.loc[X[X[column].isna()].index, column] = X[column].mode()[0]  
  elif mode == 'indicator':
    X.loc[X[X[column].isna()].index, column] = 0
    X['ind_'+str(column)] = 0
    X.loc[X[X[column].isna()].index, 'ind_'+str(column)] = 1
  elif mode == 'linreg':
    if columns_for_reg is None:
      cols = list(X.select_dtypes([np.number]).columns) 
      cols.remove(column)
    else:
      cols = columns_for_reg
    X_tmp = X.dropna()  
    m = LinearRegression().fit(X_tmp[cols], X_tmp[column])
    X.loc[X[X[column].isna()].index, column] = m.predict(X[X[column].isna()][cols])
  else:
    X.loc[X[X[column].isna()].index, column] = X[column].mean()
  return X

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11330 entries, 0 to 11329
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     11330 non-null  int64
 1   address        11330 non-null  object
 2   z_address      11330 non-null  object
 3   bathrooms      11330 non-null  float64
 4   bedrooms       11330 non-null  float64
 5   finishedsqft   11330 non-null  float64
 6   lastsolddate   11330 non-null  object
 7   lastsoldprice  11330 non-null  float64
 8   latitude       11315 non-null  float64
 9   longitude      11315 non-null  float64
 10  neighborhood   11330 non-null  object
 11  totalrooms     11281 non-null  float64
 12  usecode        11290 non-null  object
 13  yearbuilt      11330 non-null  float64
 14  zestimate      11330 non-null  float64
 15  zindexvalue    11330 non-null  object
 16  zipcode        11330 non-null  float64
 17  zpid           11330 non-null  float64
dtypes: float64(11), int64(1), object(6)
memory usage: 1.6+ MB

In [15]:
data.describe()

         Unnamed: 0     bathrooms  ...       zipcode          zpid
count  11330.000000  11330.000000  ...  11330.000000  1.133000e+04
mean    9171.729214      1.980229  ...  94116.912004  3.689973e+07
std     4921.941074      1.047358  ...      9.400877  7.800741e+07
min        2.000000      0.500000  ...  94102.000000  1.506329e+07
25%     5039.750000      1.000000  ...  94110.000000  1.510847e+07
50%     9198.500000      2.000000  ...  94115.000000  1.515697e+07
75%    13374.750000      2.000000  ...  94123.000000  5.970040e+07
max    17632.000000     14.000000  ...  94158.000000  2.146999e+09

[8 rows x 12 columns]

In [16]:
data.columns

Index(['Unnamed: 0', 'address', 'z_address', 'bathrooms', 'bedrooms',
       'finishedsqft', 'lastsolddate', 'lastsoldprice', 'latitude',
       'longitude', 'neighborhood', 'totalrooms', 'usecode', 'yearbuilt',
       'zestimate', 'zindexvalue', 'zipcode', 'zpid'],
      dtype='object')

In [17]:
cols = ['Unnamed: 0', 'bathrooms', 'bedrooms',
       'finishedsqft', 'lastsoldprice', 'latitude',
       'longitude', 'totalrooms','yearbuilt','zipcode']
cols2 = ['Unnamed: 0', 'bathrooms', 'bedrooms',
       'finishedsqft', 'latitude',
       'longitude', 'totalrooms','yearbuilt','zipcode']

In [18]:
data.dropna().shape

(11108, 18)

In [ ]:
-             = 0.8375491685999106, 0.607156739569225
finishedsqft  = 0.8524615199933394, 0.5577844171230759
long and lat  = 0.8517111453083177, 0.6874289038247563
totalrooms    = 0.8598254992362179, 0.6426676296618906

In [ ]:
get_score(data.dropna()[cols], data.dropna()['zestimate'])

0.8598254992362179

In [ ]:
get_score(data.dropna()[cols2], data.dropna()['zestimate'])

0.6426676296618906

In [ ]:
for_drop = ['Unnamed: 0', 'address', 'zindexvalue', 'zpid']
target = ['zestimate']

In [31]:

_ = get_value(data, 'finishedsqft', mode='linreg', value=0, columns_for_reg=['bathrooms', 'bedrooms', 'lastsoldprice','totalrooms'])

In [ ]:
data['neighborhood'].value_counts()

Mission             540
Bernal Heights      525
South of Market     524
South Beach         461
Pacific Heights     439
                   ...
North Beach          31
Lakeside             29
Little Hollywood     12
North Waterfront      8
Daly City             3
Name: neighborhood, Length: 71, dtype: int64

In [32]:
for i, el in data[data['latitude'].isna()].iterrows():
  data.loc[i, 'longitude'] = data[data['neighborhood'] == el['neighborhood']]['longitude'].mean()
  data.loc[i, 'latitude'] = data[data['neighborhood'] == el['neighborhood']]['latitude'].mean()

In [22]:
data[data.totalrooms - (data.bedrooms + data.bathrooms) < 0]

       Unnamed: 0                          address  ...  zipcode        zpid
2               7  Address: 560 Missouri Street #B  ...  94107.0  64972847.0
4              11      Address: 3658 Folsom Street  ...  94110.0  15161978.0
39             74        Address: 2455 14th Avenue  ...  94116.0  15122857.0
46             93       Address: 784 Spruce Street  ...  94118.0  15083824.0
60            121    Address: 2017 Buchanan Street  ...  94115.0  21699068.0
...           ...                              ...  ...      ...         ...
11255       17466  Address: 560 Missouri Street #B  ...  94107.0  64972847.0
11257       17470      Address: 3658 Folsom Street  ...  94110.0  15161978.0
11292       17533        Address: 2455 14th Avenue  ...  94116.0  15122857.0
11299       17552       Address: 784 Spruce Street  ...  94118.0  15083824.0
11313       17580    Address: 2017 Buchanan Street  ...  94115.0  21699068.0

[782 rows x 18 columns]

In [28]:
get_score(data.dropna()[['finishedsqft']], data.dropna()['zestimate'])

0.5788785566874417

In [33]:

_ = get_value(data, 'totalrooms', mode='linreg', value=0, columns_for_reg=['bathrooms', 'bedrooms', 'lastsoldprice','finishedsqft'])

In [34]:
data['totalrooms'] = data['totalrooms'].apply(lambda x: round(x))

In [35]:
data['usecode'].value_counts(dropna=False)

SingleFamily        5785
Condominium         4782
MultiFamily2To4      484
Duplex               146
Townhouse             66
NaN                   40
Miscellaneous         17
Apartment              3
Cooperative            3
Mobile                 2
MultiFamily5Plus       2
Name: usecode, dtype: int64

In [36]:
_ = get_value(data, 'usecode', mode='value', value='other')

In [37]:
data.head(2)

   Unnamed: 0                             address  ...  zipcode        zpid
0           2  Address: 1160 Mission Street #2007  ...  94103.0  83152781.0
1           5       Address: 260 King Street #475  ...  94107.0  69819817.0

[2 rows x 18 columns]

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11330 entries, 0 to 11329
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     11330 non-null  int64
 1   Unnamed: 0.1   11330 non-null  int64
 2   address        11330 non-null  object
 3   z_address      11330 non-null  object
 4   bathrooms      11330 non-null  float64
 5   bedrooms       11330 non-null  float64
 6   finishedsqft   11330 non-null  float64
 7   lastsolddate   11330 non-null  object
 8   lastsoldprice  11330 non-null  float64
 9   latitude       11330 non-null  float64
 10  longitude      11330 non-null  float64
 11  neighborhood   11330 non-null  object
 12  totalrooms     11330 non-null  int64
 13  usecode        11330 non-null  object
 14  yearbuilt      11330 non-null  float64
 15  zestimate      11330 non-null  float64
 16  zindexvalue    11330 non-null  object
 17  zipcode        11330 non-null  float64
 18  zpid           11330 non-null  float64
dtypes: float64(10), int64(3), object(6)
memory usage: 1.6+ MB

In [39]:
data.to_csv('new_data.csv')

 ## Вторая часть

In [40]:
data = pd.read_csv('new_data.csv')

In [ ]:
def get_one_hot(X, cols):
    for each in cols:
        dummies = pd.get_dummies(X[each], prefix=each, drop_first=False)
        X = pd.concat([X, dummies], axis=1)
    return X

def get_woe_v1(X, col, target_col):
    all_one = X[col].value_counts() / X[col].value_counts()
    all_good = len(X[X[target_col] == 1][col])
    all_bad = len(X[X[target_col] == 0][col])
    odds_series = (
        (((all_one*X[df_train[target_col] == 1][col].value_counts()).fillna(0)+0.5)/all_good)
        /
        (((all_one*X[X[target_col] == 0][col].value_counts()).fillna(0)+0.5)/all_bad)
    )
    category_woe_dict = np.log(odds_series).to_dict()
    X[col + '_woe'] = X[col].apply(category_woe_dict.get)
    return X

def get_woe_cols(X, cols, target_col):
    for col in cols:
        X = get_woe_v1(X, col, target_col)
    return X